= simple_form_for @investment, defaults: { input_html: { class: 'form-control' } } do |f|

  = f.hidden_field :currency, value: "$" 
  .card.border-dark.text-center
    .card-body
      .row
        .offset-3.col-6
          = f.input :balance, placeholder: "Example: 100"

      %br
      .row
        .col-12
          = link_to 'Back', investments_path, class: "btn btn-primary"
          - if params[:action] != "show"
            = f.submit 'Invest!', class: "btn btn-primary"
