- if notice.present?
  .alert.alert-success{role: "alert"}
    = notice
.row.text-center
  .col-12
    %a.btn.btn-primary.btn-lg{href: new_investment_path, role: "button"} Make Another Investesment!
%hr
.row.text-center.mt-5
  / .col-12
  /   %h1
  /     %b 
  /       = "Balance: #{number_to_currency(@investment.balance, :unit => "$")}"
  .col-12
    .card.text-center
      .card-header
        %h4
          %b
            Balance
      .card-body
        %h1.card-title  
          = "#{number_to_currency(@investment.balance, :unit => "$")}"
      .card-footer.text-muted
        = "Current Rates as of: #{@investment.created_at.strftime("%d-%m-%Y %H:%M:%S")}"
%hr
/ .row.text-center
/   .col-12
/     %h5
/       = "Current Rates as of: #{@investment.created_at.strftime("%d-%m-%Y %H:%M:%S")}"
%br

- if @records.empty?
  .row.text-center
    .col-12
      %h2
        CoinAPI isn't working, please refresh this page later
- else
  .row.text-right
    .col-12
      / = link_to "Download as CSV", download_as_csv_investment_path(@investment)
      / = link_to 'Download CSV Report', download_as_csv_investment_path(@investment, format: :csv), class: 'btn btn-primary'
      = link_to 'Download CSV Report', investment_path(@investment, format: 'csv'), class: 'btn btn-primary'
      = link_to 'Download JSON Report', investment_path(@investment, format: 'json'), target: "_blank", class: 'btn btn-primary'
  %br
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th.text-left Coin
        %th.text-right Current Rate
        %th.text-center Monthly Interest
        %th.text-right Interest (Yearly)
        %th.text-right Total

    %tbody
      - @investment.coin_instances.each do |ci|
        %tr
          %td.text-left
            - if ci.coin.code == "BTC"
              = image_tag("#{image_url('bitcoin.png')}", class: "img-responsive", style: "width: 30px; height: 30px;")
            - elsif ci.coin.code == "ETH"
              = image_tag("#{image_url('ethereum.png')}", class: "img-responsive", style: "width: 30px; height: 30px;")
            - else
              = image_tag("#{image_url('cardano.png')}", class: "img-responsive", style: "width: 30px; height: 30px;")
            = "#{ci.coin.description} (#{ci.coin.code})"
          %td.text-right
            %span.badge.badge-info{id: "current_rate"}
              = number_to_currency(ci.value_at_the_time, :unit => "$")
          %td.text-center
            %span.badge.badge-dark
              = "#{ci.coin.monthly_interest} %"
          %td.text-right
            %span.badge.badge-success 
              = number_to_currency(ci.anual_profit, :unit => "$")
          %td.text-right
            %span.badge.badge-success 
              = number_to_currency(ci.total, :unit => "$")

